.message {
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  background-color: var(--pre-background);
  border-radius: 5px;
  border: 1px solid var(--pre-border);
  white-space: pre-wrap;
  color: var(--text-color);
  overflow-x: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.message-content-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.message-header {
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  align-items: start;
  cursor: pointer;
  position: relative;
  padding: 8px;
}
.message-header.non-collapsible {
  cursor: default;
}
.message-preview {
  margin-right: 10px;
  white-space: pre-wrap;
  word-break: break-word;
}
.message-type-badge {
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 0.7em;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  margin-left: auto;
}
.collapse-button,
.cancel-button {
  background: none;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  font-size: 0.8em;
  opacity: 0.5;
  padding: 0 5px;
  margin-left: 5px;
}
.cancel-button {
  color: var(--cancel-button-color);
}
.collapse-button:hover,
.cancel-button:hover {
  opacity: 1;
}
.cancel-button:hover {
  color: var(--cancel-button-hover-color);
}

.message-body-content {
  padding: 8px;
  border-top: 1px dashed var(--pre-border);
}

.messages-container {
  display: flex;
  flex-direction: column;
}

.user-message {
  background-color: var(--user-message-background);
}
.assistant-message {
  background-color: var(--assistant-message-background);
}
.system-message {
  background-color: var(--system-message-background);
}
.prompt-message {
  background-color: var(--prompt-message-background);
}
.tool-message {
  background-color: var(--prompt-message-background);
}
.log-message {
  background-color: var(--log-message-background);
}
.error-message {
  background-color: var(--error-message-background);
}
.warning-message {
  background-color: var(--warning-message-background);
}
.info-message {
  background-color: var(--info-message-background);
}
.loading-message {
  background-color: var(--loading-message-background);
}
.task-message {
  background-color: var(--task-message-background);
}
.form-prompt-message {
  background-color: var(--form-prompt-message-background);
}
