.input-row {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  position: relative;
}

.form-input {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--form-input-border);
  background-color: var(--form-input-background);
  color: var(--form-input-text-color);
}
