.tool-popup {
  position: fixed;
  z-index: 10;
  background-color: var(--popup-background);
  border: 1px solid var(--popup-border);
  border-radius: 5px;
  box-shadow: var(--popup-shadow);
  padding: 10px;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 90vh;
  overflow-y: auto;
  max-width: 90vw;
  min-width: 300px;
}

.tool-popup .tool-list {
  border: none;
  overflow-y: auto;
  max-height: unset;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tool-popup .tool-list .tool-item {
  background-color: var(--prompt-item-background);
  padding: 10px;
  border-bottom: 1px solid var(--pre-border);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  cursor: pointer;
  word-wrap: break-word;
  white-space: normal;
}
.tool-popup .tool-list .tool-item:last-child {
  border-bottom: none;
}
.tool-popup .tool-list .tool-item:hover {
  background-color: var(--prompt-item-hover);
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--pre-border);
}

.close-button {
  background: none;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  font-size: 1.2em;
  padding: 0;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.close-button:hover {
  background-color: var(--cancel-button-color);
  color: white;
}
